/* ITEMS */

#navbar {
    background-color:#ffffff;
}

#logo {
    text-align: center;
}

#services{
    background-image: url("../Media/Imagenes/iconos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

#bannerExito{
    height: 400px;
    background-color: #1560a4;
    color: #ffffff;
}

#marcas{
    height: 400px;
    background-color: #ffffff;
    color: #74b24e;
}

#footer{
    height: 400px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 100px;
    position: relative;
}


/* CLASSES */

.shift-desktop{
    display: none;
}
.shift-mobile{
    width: 100%
}

.form-check-label{
    color: #ff5015;
    font-size: 13px;
}

.white-circle{
    position: absolute;
    z-index: 100;
    display: none;
}

.black-circle{
    position: absolute;
    z-index: 100;
    display: none;
}

.ubi-title{
    text-align: center;
    margin-top: 80px;
}

.ubi-title h1{
    font-size: 2rem;
}

.office-img-1{
    text-align: center;
    position: relative;
}
.office-img-2{
    text-align: center;
    position: relative;
}


.form-check-input {

    margin-left: -1.90rem !important;
}


.slider-img-caption{
    position: absolute;
    width: 100%;
    left: 1%;
    top: 34%;
}


.w-100{
    height: auto;
}

.blog{
    font-size: 20px;
    margin-right: 10%;
    padding-left: 10%;
    padding-top: 6%;
}

.longTxt{
    font-size: 11px;
}

.blueSpace{

    background-color: #000000;
    height: 620px;
    position: relative;
}


.services-title{
    text-align: center;
    color: #000000;
    font-size: 1.75rem;
    padding-top: 10%;
    font-weight: 900;
    padding-bottom: 5%;
}

.i-service{
    height: 500px;
}

.seg{
    height: 140px;
    text-align: center;
}

.whiteTxt{
    text-align: justify !important;
    color: #000000 !important; 
    font-weight: 800 !important; 
    font-size: 13px !important;
    padding-top: 0px;
}

.whiteTitle{
    text-align: center;
    color: #000000;
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
}

.bannerText {

    text-align: center;
    height: 100%;
    padding-top: 25%;
    font-size: 15px;
    font-weight: 800;
}


.sldr-img-mobile{
    display: block;
}

.sldr-img-desktop{
    display: none;
}

.inside-sldr{
    height: 100%;

}

.HeroText {

    text-align: center;
    height: 33%;
    padding-top: 15%;
    font-size:  30px;
}

.HeroCard {
    text-align: right;
    height: 67%
}

.HeroSpace {
    text-align: right;
    height: 0%

}

.vl{
    border-left: 1px solid #000000;
    height: 60px;
    margin-top: 0px !important;
    margin-bottom: 4px;
}

.vl-footer{
    display: none;
    border-left: 1px solid #ffffff;
    height: 60px;
    position: absolute;
}

.mr-3{
    margin-top: 10px !important;
}

.mailNav{
    font-size: 10px !important;
}

.txt{
    margin-top:     30px;
    margin-bottom:  50px;
}

.f-section{
    background-color: #000000;
    padding-left:   5%;
}

.media p{
    font-size: 12px !important;
}

.media{
    padding-left: 0%;
}

.media-footer{
    padding-left: 0%;
    margin-top: 10%;
    margin-left: 11%;
}

.contact-mobile{
    text-align: center;
    margin-top: 0%;
    font-size: 12px;
    font-weight: 900;
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 3px #000;
    padding-top: 5%;
    position: absolute;
    z-index: 100;
    width: 90%;
    left: 5%;
    top: 5%
}

.contact-desktop{
    display: none;
    text-align: center;
    margin-top: 5%;
    font-size: 12px;
    font-weight: 500;
    color: #919191;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px #000;
    padding-top: 5%;
    position: absolute;
    z-index: 100;
}

.form-group{
    padding: 10% 10% 5% 0% ;
}

.form-control{
    border-top:     none !important;
    border-left:    none !important;
    border-right:   none !important;
    border-bottom: 1px solid !important;
    border-bottom-color: #919191 !important;
    border-bottom-right-radius: 0%;
    font-size: 12px !important;
    border-radius: 0rem !important;
    font-weight: 900 !important;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float{
    margin-top:  4px;
    margin-left: 2px;

    font-size: 50px;
}

@media (min-width: 375){
    .mailNav{
        font-size: 14px !important;
    }
}

@media (min-width: 768px){
    .w-100{
        height: 550px;
    }

    .sldr-img-mobile{
        display: none;
    }
    .sldr-img-desktop{
        display: block;
    }
    .HeroText {
        height: 100%;
        text-align: left;
        padding-top: 5%;
        padding-left: 5% !important;
    
        font-size:  25px;

    }
    .HeroCard {
        height: 100%;
    }    
    .HeroSpace {
        height: 100%;
    }
    .contact-mobile{
        display: none;
    }
    .contact-desktop{
        display: block;
        width: 250px;
        margin: auto;
        margin-top: 3%;
        right: 5%;
        padding-top: 2%;
        
    }
    .form-control{
        height: 25px !important;
    }
    .bannerText{
        font-size: 14px;
        padding-top: 3%;
    }
    .blueSpace{
        display: none;
    }
    .blog{
        padding-top: 5%;
    }
    .media-footer{
        padding-left: 0%;
        margin-top: 54%;
        margin-left: 0%;
        width: 100%;
    }
    .vl-footer{
        display: block;
        height: 105px;
        position: absolute;
        top: 27%;
        left: 68%;
        z-index: 100;
    }
    .slider-img-caption {
        position: absolute;
        width: 155%;
        left: 15%;
        top: 16%;
    }

    .black-circle{
        display: block;
        top:     560px;
    }

    .white-circle{
        display: block;
        top:     560px;
        right: 0%;
    }
    .office-img-1{
        text-align: right;
    }
    .office-img-2{
        text-align: left;
    }

}

@media (min-width: 1024px){
    .HeroText {
        font-size:  30px;
    } 
    
    .contact-desktop{
        width: 250px;
        margin-top: 2%;
    }
    .bannerText{
        padding-top: 15%;
    }
    .blog{
        padding-top: 4%;
    }
    .media-footer{
        margin-top: 40%;
    }
    .vl-footer{
        top: 26%;
        left: 65%;
    }
    .black-circle{
        top:     570px;
    }
    .white-circle{
        top:     570px;
    }
    .shift-desktop{
        display: initial;
        width: 50%;
    }
    .shift-mobile{
        display: none;
    }
}

@media (min-width: 1440px){
    .HeroText {
        font-size:  40px;
        padding-top: 10%
    }
    .contact-desktop{
        width:      360px;
        right:      7%;
        margin-top: 7%;
        font-size: 15px;

    }   
    .bannerText{
        font-size: 18px;
    }
    .longTxt{
        font-size: 15px;
    }
    .w-100{
        height: auto;
    }
    .blog{
        padding-top: 2%;
    }
    .media-footer{
        margin-top: 28%;
    }
    .vl-footer{
        top: 26%;
        left: 60%;
    }
    .slider-img-caption {
        width: 116%;
    }
    .black-circle{
        top:     750px;
    }
    .white-circle{
        top:     750px;
    }
}

@media (min-width: 1920px){
    .HeroText {
        font-size:  50px;
    }  
    .contact-desktop{
        width: 440px;
        margin: auto;
        margin-top: 7%;
        padding-top: 2%;
        right: 6%;
        font-size: 20px;
    } 
    .form-control{
        font-size: 20px !important;
        height: 50px !important;

    }

    .exception{
        width: 60% !important;
        padding-top: 7%;
        font-size: 18px !important;
    }

    .blog{
        font-size: 20px;
        margin-right: 10%;
        padding-left: 10%;
    }
    .mailNav{
        font-size: 12px;
    }
    .media-footer{
        margin-top: 20%;
    }
    .vl-footer {
        top: 19%;
        left: 60%;
        height: 150px;
    }
    .media p {
        font-size: 15px !important;
    }
    .black-circle{
        top:     965px;
    }
    .white-circle{
        top:     965px;
    }
}

@media (min-width: 2560px){
    .HeroText {
        font-size:  60px;
    }   
    .contact-desktop{
        width: 600px;
        margin: auto;
        margin-top: 10%;
        font-size: 20px;
    } 
    .blog {
        padding-top: 1%;
    }
    .media-footer {
        margin-top: 13%;
    }
    .media p {
        font-size: 20px !important;
    }
}

@font-face {
    font-family: 'nowmedium';
    src: url('../Media/Fonts/now.medium-webfont.woff2') format('woff2'),
         url('../Media/Fonts/now.medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nowblack';
    src: url('../Media/Fonts/now-black-webfont.woff2') format('woff2'),
         url('../Media/Fonts/now-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nowbold';
    src: url('../Media/Fonts/now-bold-webfont.woff2') format('woff2'),
         url('../Media/Fonts/now-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nowregular';
    src: url('../Media/Fonts/now-webfont.woff2') format('woff2'),
         url('../Media/Fonts/now-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: nowbold !important;
}